{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement - {{ parent() }}{% endblock %}

{% block body %}
<div class="container form-event my-4">
    {{ form_start( form, { attr: { novalidate: 'novalidate' } } ) }}

    <div class="row">
        <div class="col-12">
            {{ form_row( form.name ) }}
        </div>

        <div class="col-md-6 col-12">
            {{ form_row( form.startAt ) }}
        </div>
        <div class="col-md-6 col-12">
            {{ form_row( form.endAt ) }}
        </div>

        <div class="col-md-6 col-12">
            {{ form_row( form.price ) }}
            {{ form_row( form.capacity ) }}
        </div>
        <div class="col-md-6 col-12">
            {{ form_row( form.description ) }}
        </div>

        <div class="col-md-6 col-12">
            {{ form_row( form.picture ) }}
        </div>
        <div class="col-md-6 col-12">
            {{ form_row( form.place ) }}
        </div>

        <div class="col-12">
            {{ form_row( form.categories ) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end( form ) }}
</div>
{% endblock %}