{% extends 'base.html.twig' %}

{% block title %}Nos événements - {{ parent() }}{% endblock %}

{% block body %}

<div class="events">

    {% for event in events %}

        <div class="card event">
            <div class="event-picture" style="background-image: url('{{ event.picture }}');">
                {% if date( event.startAt ) > date() %}
                    <span class="badge badge-pill badge-success">A venir</span>
                {% elseif date( event.endAt ) < date() %}
                    <span class="badge badge-pill badge-danger">Passé</span>
                {% else %}
                    <span class="badge badge-pill badge-warning">En cours</span>
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ event.name }}</h5>
                <div class="event-info">
                    <span>
                        <i class="fas fa-euro-sign"></i>
                        {{ ( event.price ) ? event.price : 'Gratuit' }}
                    </span>
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                        {{ event.place }}
                    </span>
                </div>
                <p class="card-text">{{ event.descrption|slice(0,140) }}...</p>
                <a href="{{ path( 'event_display', { id: event.id } ) }}" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>

    {% endfor %}

</div>

{% endblock %}